  .axisLabels    {
		font-family: 'Oxygen', sans-serif;    
    font-size: 15px;
  }
  
  .chartTitle {
    font-size: 17px;
    font-family: 'Oxygen';
  }

.nav-link {
   font-family: 'Oxygen', sans-serif;
   font-size: 14px;
}

.pagetitle {
  padding-top: 70px;
  color: white;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
  font-size: 50px;
}

p, li {
  font-family: 'Average', serif;
  font-size: 18px;
  text-align: justify;
}

#textbody, #figurecontainer {
  padding-bottom: 40px;
}

.textsection {
    padding-top: 20px;
}

text {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

circle {
  cursor: pointer;
}

div.tooltip {
  position: absolute;
  text-align: center;
  /*width: 60px;
  height: 28px;*/
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

text.nodeLabel {
  font: 5px sans-serif;
}